.students {
    margin-top: 3rem;
    background-color: bisque;
}

.students h1{
    font-size: 3rem;
}

.students table,td,th{
    text-align: center;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.students th,td{
    padding: 1rem;
}

.students .student-actions{
  
    & img{
        width: 2rem;
        aspect-ratio: 1;
        margin-left: 1.5rem;
    }

}